@model Employee
@{
    ViewData["Title"] = "AddEmployees";
}

<h2>บันทึกข้อมูลพนักงาน</h2>

<div class="p-4">
    <form method="post" asp-action="AddEmployees" asp-controller="Employee" class="form-control p-4">
        <div class="row">
            <div class="mb-3 col-2">
                <label asp-for="Date" class="form-label">วันที่</label>
                <input asp-for="Date" type="date" class="form-control">
                <span class=" text-danger" asp-validation-for="Date"></span>
            </div>
            <div class="mb-3 col-2">
                <label asp-for="Time" class="form-label">เวลา</label>
                <input asp-for="Time" type="time" class="form-control">
                <span class=" text-danger" asp-validation-for="Time"></span>
            </div>
            <div class="mb-3 col-2">
                <label asp-for="EmployeeId" class="form-label">รหัสพนักงาน</label>
                <input asp-for="EmployeeId" type="number" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-3">
                <label asp-for="Firstname" class="form-label">ชื่อพนักงาน</label>
                <input asp-for="Firstname" type="text" class="form-control" placeholder="กรอกชื่อพนักงาน">
                <span class=" text-danger" asp-validation-for="Firstname"></span>
            </div>
            <div class="mb-3 col-3">
                <label asp-for="lastname" class="form-label">นามสกุล</label>
                <input asp-for="lastname" type="text" class="form-control" placeholder="กรอกนามสกุลพนักงาน">
                <span class=" text-danger" asp-validation-for="lastname"></span>
            </div>
            <div class="mb-3 col-3">
                <label asp-for="Department" class="form-label">แผนก/ส่วนงาน</label>
                <input asp-for="Department" type="text" class="form-control" placeholder="กรอกแผนกของพนักงาน">
                <span class=" text-danger" asp-validation-for="Department"></span>
            </div>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Description" class="form-label">รายละเอียด</label>
            <textarea asp-for="Description" type="text" class="form-control"></textarea>
            <span class=" text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="row">
            <div class="mb-3 col-2">
                <label asp-for="Hospital" class="form-label">นำส่ง</label>
                <input asp-for="Hospital" type="text" class="form-control" placeholder="รพ.ปทุมธานี">
                <span class=" text-danger" asp-validation-for="Hospital"></span>
            </div>
            <div class="mb-3 col-2">
                <label asp-for="Rider" class="form-label">ผู้นำส่ง</label>
                <input asp-for="Rider" type="text" class="form-control">
                <span class=" text-danger" asp-validation-for="Rider"></span>
            </div>
            <div class="mb-3 col-2">
                <label asp-for="Recorder" class="form-label">ผู้บันทึก</label>
                <input asp-for="Recorder" type="text" class="form-control">
                <span class=" text-danger" asp-validation-for="Recorder"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


