@model Todolist
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="p-4">
    <form method="post" asp-action="Edit" asp-controller="TodoList" class="form-control p-4">
        <div class="row">
            <div class="mb-3 col-2">
                <label asp-for="Date" class="form-label">วันที่</label>
                <input asp-for="Date" type="date" class="form-control">
            </div>
            <div class="mb-3 col-3">
                <label asp-for="Name" class="form-label">หัวข้อ</label>
                <input asp-for="Name" type="text" class="form-control">
            </div>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Description" class="form-label">รายละเอียด</label>
            <textarea asp-for="Description" type="text" class="form-control"></textarea>
        </div>
        <div class="mb-3 col-2">
            <label asp-for="Finish" class="form-label">กำหนดเสร็จ</label>
            <input asp-for="Finish" type="text" class="form-control" placeholder="กรุณากรอกข้อมูล">
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Other" class="form-label">หมายเหตุ</label>
            <textarea asp-for="Other" type="text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

